.menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  margin-left: 2rem;
  margin: 0;
}

.item {
  font-size: 21px;
  margin-right: 1rem;
}
.item a {
  color: #ececec;
  text-decoration: none;
}

.item a:hover {
  color: rgb(244, 222, 201);
}
