.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 35, 2);
  background-color: rgb(54, 64, 55);
  width: 100%;
  min-height: 100vh;
}
h1 {
  color: rgb(244, 222, 201);
}
.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/bg.jpg");
  width: 600px;
  border: 1px solid black;
  border-radius: 20px;
  height: 500px;
  position: relative;
}

.loginHref {
  position: absolute;
  bottom: 30px;
  left: 215px;
  text-align: center;
}
.logInText {
  text-decoration: underline;
}
.text {
  color: rgb(244, 222, 201);
  /* color: black; */
  text-decoration: none;
}
