.field input {
  height: 45px;
  width: 260px;
  border: 0px;
}
.field input:focus {
  border: 0px;
  outline: 0;
}

input {
  padding-left: 10px;
}
.error {
  text-align: left;
  font-size: 12px;
  color: red;
}

.field {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.authButton {
  background-color: rgb(152, 108, 67);
  border: 1px solid rgb(152, 108, 67);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;

  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
}
.authButton:hover {
  border-color: rgb(152, 108, 67);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}
